@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libertinus+Serif+Display&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

:root{
    --colorPrimary: #0F2D4E;
    --colorFondoTextoSecundario: #D9E0E7;
    --colorDescatar: #64B5F6;
    --colorAcentuar: #FFC107; 
}

nav {
    background-color: var(--colorPrimary);
}

/* nav {
    border: 1px solid black;
}

.navbar-brand {
    border: 1px solid black;
}

.navbar-nav {
    border: 1px solid black;
}

.ingresoAula {
    border: 1px solid black;
} */

.card {
    width: 50%;
    height: 250px;
}
